@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.hero-span{

}
.nav-container a:hover{
    cursor: pointer;
    text-decoration: underline;
    background: linear-gradient(to top right, #facc15, #ec4899, #a21caf);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.btn{}
.btn-alter{
    display: none;
}
.hero{
    background-image: url('assets/hero-bg.png');
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
}
@keyframes movebanner {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
.zoomer{
  animation: movebanner 1s infinite ease-in-out;
}
@keyframes rotatemic {
  0% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(-30deg);
  }
}
.mic-rot{
    transform-origin: bottom;
  animation: rotatemic 1s infinite ease-in-out;
  cursor: pointer;
}
@media (max-width: 576px) {
  .nav-container {
    display: none;
  }
  .btn{
    display:none;
  }
  .btn-alter{
    display: block;
  }
  .banner-container{
    width:220px;
    height: 220px;
  }
  .mic{
    width: 180px;
    height: 180px;
  }
  .mic-rot{
    width: 80px;
    height: 100px;
  }
}
@media (min-width: 577px) and (max-width: 992px) {
  .new-btn{
    position:static;
    left: 23%;
    top: 0%;
  }
  .about{
    padding-left: 50px;
    padding-right: 50px;
  }
  .about-hr{
    margin-left: 50px;
    margin-right: 50px;
  }
  .status{
    padding-left: 50px;
    padding-right: 50px;
     
  }
  .choose{
    padding-left: 50px;
    padding-right: 50px;
  }
  .featured{
    padding-left: 50px;
    padding-right: 50px;
  }
  .host-info{
    flex-direction: column;
  }
  .host-img{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .host-dep{
    justify-content: center;
  }
}